body
{
  margin:0;
  font-family: Helvetica, Sans-Serif;
  font-size: 10pt;
  background-color: #202020;
  color:white;
  overflow:hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* TABLE FORKED FROM
https://jsfiddle.net/qwubvg9m/1/
https://stackoverflow.com/questions/15811653/table-with-fixed-header-and-fixed-column-on-pure-css */


/*MASTER CONTROLS*/
.masterControls{
  padding-left:10px;
  padding-bottom:5px;
  margin:0;
  text-align: initial;
}
thead th:first-child{
  vertical-align: top;
}
.masterControls .masterBtn{
  width:48%;
  margin: 0;
}
.masterControls .masterBtn:first-of-type{
  text-align: left;
}
.masterControls .masterBtn:last-of-type{
  text-align: right;
}

.folderEditor{
  float:left;
  margin-top: 10px;
  font-size: 20px;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dispoToggle{

}


.container {
  max-width: 100vw;
  max-height: 100vh;
  height:100%;
  overflow: scroll;
  position: relative;
}


/*DISPO*/
.dispo{
  text-align: initial;
  padding:5px;
}
/* .dispoBasics{
  text-align: initial;
} */
.dispoNaming{
  width: 72%;
  float: left;
  padding: 4px;
}
.operatorEditor, .nameEditor{
  font-size: 15px;
  line-height: 20px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dispoMore{
  margin:10px;
}
.dispoMore i{
  text-align: center;
  width:31%;
  box-sizing: border-box; margin: 0;

}
.dispoMore i:first-child{
  text-align: left;
}
.dispoMore i:last-child{
  text-align: right;
}

/* COLUMN WIDTH*/
.dispo, .mediaSelector{
  font-weight: normal;
  width: 200px;
}
.mediaSelector{
  text-align: center;
  vertical-align: middle;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

table {
  position: relative;
  border-spacing: separate;
  border-spacing: 0;
}

.dispoBasics .btnBig{
  display: block;
  width: fit-content;
}

td,
th {
}

/*COLORS*/
.dispo,thead th:first-child{
  background: #404040;
}
.dispo,td, .seqDiv, thead th:first-child{
  box-sizing:content-box;
  border:4px solid #202020;
}
.box{
  background-color: #303030;
}
thead th:last-child .dispo{
  background-color: #202020;
}


/*HEAD*/
thead th {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 0;
  background: #202020;
}
thead th:first-child {
  left: 0;
  z-index: 1;
}
/*SEQ*/
tbody th {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  left: 0;
  background-color: #404040;
}
.seqDiv{
  height:100px;
}
.seqName{
  width: 157px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  margin: 22px 22px 22px 22px;
  background-color: #00ab3f;
  padding: 20px;
  cursor:pointer;
  border-radius:4px;
}
.seqName:active{

}
.editionMode .seqName{
  background-color: rgb(101, 132, 150, 1);
}
.playMode .seqName{
  background-color: #00ab3f;
}
.seqControls{
  margin: 0px 0px 10px 0px;
  color: rgb(101, 132, 150, 1);
  float:left;
  width:100%;
}
.seqControls i{
  text-align: center;
  width:15%;
  box-sizing: border-box; margin: 0;
}





/* OVERLAYS */
.overlay {
  opacity: 0;
  cursor: pointer;
  position : absolute;
  width : 100%;
  height : 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 100;
  text-align: center;
}
.overlay:before{
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.overlayContent{
  cursor: default;
  height : 80%;
  width : 80%;
  background-color : #303030;
  display: inline-block;
  vertical-align: middle;

}
.mediaList{
  height: 85%;
  overflow-y: scroll;
  padding-left: 5%;
  text-align: left;
}
.mediaList .mediaItem{
  cursor: pointer;
  height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#mediaOverlay .controls{
  height: 10%;
  text-align: left;
  padding-left: 5%;
  padding-top: 1%;
}

#textOverlay .overlayContent{

}

#textOverlay textarea{
  font-size: 20px;
  width:50%;
  float: left;
  margin: 15% 10% 10% 15%;
}
#textOverlay .controls{
  margin: 15% 10% 10% 15%;
}



/* UI */
.circle{
  width: 10px;
  height: 10px;
  background: #f0624d;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.stopAll,.stopDispo{
  color:#f0624d;
}
.btnOn{
  opacity: 1;
}
.btnOff{
  opacity: 0.4;
}

.btnSmall{
  font-size: 25px !important;
}
.btnMedium{
  font-size: 30px !important;
}
.btnBig{
  font-size: 50px !important;
}
.btn{
  cursor: pointer;
}
.btn:hover{
  opacity:0.8;
}
.btn:active{
  opacity:0.4;
}
textarea {
  outline: none;
}
