body {
    margin: 0;
    font-family: Helvetica, Sans-Serif;
    font-size: 10pt;
    background-color: #202020;
    color: white;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}


/* TABLE FORKED FROM
https://jsfiddle.net/qwubvg9m/1/
https://stackoverflow.com/questions/15811653/table-with-fixed-header-and-fixed-column-on-pure-css */


/*MASTER CONTROLS*/

.masterControls {
    padding-left: 10px;
    padding-bottom: 5px;
    margin: 0;
    text-align: initial;
}

thead th:first-child {
    vertical-align: top;
}


.masterControls .stopAll {
    margin-top: 3px;
}

.masterControls .nextScene,
.masterControls .dispoToggle,
.masterControls .editToggle {
    margin-right: 11px;
}

.masterControls .editToggle {
    float:inline-end;
}

.masterControls .masterText {
    width: 100%;
}

.masterControls .masterControls_line1 {
    width: 100%;
    /* text-align: center; */
}

.masterControls .connectionState {}

.masterControls .sceneEditor {
    font-size: 20px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.masterControls .quickScene {
    vertical-align: super;
}

.masterControls .masterControls_line2>i {
    width: 20%;
    vertical-align: super;
}

.dispoToggle {
    display: none;
}

.container {
    max-width: 100vw;
    max-height: 100vh;
    height: 100%;
    overflow: scroll;
    position: relative;
}

#addRemoveDispos {
    /* color: rgb(101, 132, 150, 1); */
    display: none;
}


/*DISPO*/

.dispo {
    text-align: initial;
    overflow-x: hidden;
}


/* .dispoBasics{
  text-align: initial;
} */

.dispoNaming {
    width: 100%;
}

.dispoCtrl {
    width: 100%;
    text-align: center;
}

.dispoCtrl i {
    margin-right: 10px;
}

.operatorEditor {
    background-color: #CCC;
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.nameEditor {
    font-size: 12px;
}

.operatorEditor,
.nameEditor {
    text-align: center;
    line-height: 20px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.filterBoxInput {
    width: 100%;
    padding: 5px;
    text-align: left;
    background-color: #111;
    color: white;
    border: 0px;
    text-align: center;
}

.filterBoxInput::placeholder {
    font-style: italic;
    opacity: 0.5;
  }

.dispoMore {
    margin: 10px;
}

.dispoMore i {
    text-align: center;
    width: 31%;
    box-sizing: border-box;
    margin: 0;
}

.dispoMore i:first-child {
    text-align: left;
}

.dispoMore i:last-child {
    text-align: right;
}


/* COLUMN WIDTH*/

.dispo,
.box .mediaSelector {
    font-weight: normal;
    width: 130px;
}

.box {
    z-index: 0;
    position: relative;
}

.box .mediaSelector,
.box .lightSelector {
    /* position: absolute; */
    width: 100%;
    max-height: 30px;
    overflow: hidden;
    text-align: center;
    /* text-overflow: ellipsis; */
    overflow-wrap: break-word;
    overflow-x: hidden;
    /* white-space: nowrap; */
}

.box .mediaSelector {
    margin-top: 25px;
}

.box .lightSelector {
    margin-top: 5px;
    font-style: italic;
    opacity: 0.5;
}

.colorPreview {
    padding: 0px 7px;
}

input[type="color"] {
    -webkit-appearance: none;
    border: none;
    width: 64px;
    /* height: 20px; */
    position: relative;
    top: 8px;
    left: 10px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

.validPlayInfo {
    position: absolute;
    top: 37%;
    right: 5px;
    opacity: 0;
}

.validPlay-true {
    opacity: 0.4;
}

.stateiDiv {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.4;
    margin-left: 132px;
    background: #CCC;
    color: #111;
}

.loopiDiv {
    position: absolute;
    top: 0;
    right: 25px;
    opacity: 0.4;
    margin-left: 132px;
    background: #111;
}

.onendiDiv {
    position: absolute;
    bottom: 0;
    opacity: 0.4;
    background: #111;
}

.stateiDiv i,
.loopiDiv i,
.onendiDiv i {
    margin: 5px 7px;
}

table {
    position: relative;
    border-spacing: separate;
    border-spacing: 0;
}

.dispoBasics .btnBig {
    display: block;
    width: fit-content;
}

td,
th {}


/*COLORS*/

.dispo,
thead th:first-child {
    background: #404040;
}

.dispo,
td,
.seqDiv,
thead th:first-child {
    box-sizing: content-box;
    border: 4px solid #202020;
}

.box {
    background-color: #303030;
}

thead th:last-child .dispo {
    background-color: #202020;
}


/*HEAD*/

thead th {
    position: -webkit-sticky;
    /* for Safari */
    position: sticky;
    top: 0;
    background: #202020;
    z-index: 10;
}

thead th:first-child {
    left: 0;
    z-index: 20;
}


/*SEQ*/

tbody th {
    position: -webkit-sticky;
    /* for Safari */
    position: sticky;
    left: 0;
    background-color: #404040;
}

.seqDiv {
    /* height: 100px; */
    z-index: 2;
}

.seqName {
    width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    margin: 3px;
    background-color: #00ab3f;
    padding: 20px;
    cursor: pointer;
    border-radius: 4px;
}

.seqName:active {}

.editionMode .seqName {
    background-color: rgb(101, 132, 150, 1);
}

.playMode .seqName {
    background-color: #00ab3f;
}

.seqControls {
    margin: 0px 0px 10px 0px;
    color: rgb(101, 132, 150, 1);
    float: left;
    width: 100%;
    display: none;
}

.seqControls i {
    text-align: center;
    width: 15%;
    box-sizing: border-box;
    margin: 0;
}


/* OVERLAYS */

.overlay {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    text-align: center;
}

.overlay:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.overlayContent {
    cursor: default;
    background-color: #303030;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.overlayTitle,
.overlayTitle2 {
    position: absolute;
    top: 10px;
    left: 5px;
    padding: 0.6%;
    font-size: 1.2em;
    text-align: center;
}

.overlayTitle2 {
    left: 60%;
}

#confirmOverlay .overlayTitle {
    margin: 5% 0% 0% 40%;
    padding: 0;
    width: 40%;
    text-align: left;
}

#confirmOverlay .controls {
    margin: 20px 0% 0% 0%;
    float: left;
    width: 45%;
}

#confirmOverlay .controls i {
    margin-right: 20%;
}

#textOverlay .overlayTitle {
    margin: 8% 0% 0% 15%;
    padding: 0;
    width: 100%;
    text-align: left;
}

#mediaOverlay .overlayContent {
    height: 80%;
    width: 80%;
}

#directOverlay .overlayContent {
    height: 80%;
    width: 20%;
}

#dispoOverlay .overlayContent,
#sceneOverlay .overlayContent {
    width: 50%;
    height: 80%;
}

#textOverlay .overlayContent {
    width: 50%;
    height: 42%;
}

#confirmOverlay .overlayContent {
    width: 40%;
    height: 100px;
}

.dispoList,
.sceneList {
    height: 83%;
    overflow-y: scroll;
    /* padding-left: 5%; */
    text-align: left;
    background-color: #404040;
    clear: both;
}

.mediaList .mediaItem,
.directList .directItem,
.dispoList .dispoItem,
.sceneList .sceneItem,
.lightList .lightItem {
    cursor: pointer;
    line-height: 40px;
    padding-left: 3%;
    vertical-align: center;
}

.mediaListStatic .mediaItem, 
.directListStatic .directItem,
{
    display: inline-block;
    border: 1px solid #505050;
    margin: 0 5px 5px 0;
    padding: 10px;
    line-height: 10px;
}

.lightList,
.mediaList,
.directList {
    position: absolute;
    top: 6%;
    bottom: 0;
    overflow-y: auto;
    text-align: left;
    line-height: 37px;
}

.lightList {
    left: 60%;
    right: 0;
    background: #333;
}

.mediaList {
    left: 0;
    right: 40%;
    background: #222;
}

.directList {
    width: 100%;
    background: #222;
}


/* RADIO */

.inline-radio {
    display: flex;
    overflow: hidden;
}

.inline-radio div {
    position: relative;
    flex: 1;
    margin: 2px;
}

.inline-radio input {
    width: 100%;
    height: 100%;
    opacity: 0;
}

.inline-radio label {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    border: 1px solid #505050;
    margin: 0 5px 5px 0;
}

.inline-radio div:last-child label {
    /* border-right: 0; */
}

.inline-radio input:checked+label {
    background: #505050;
    font-weight: 500;
    color: #fff;
}

hr {
    border: 1px solid #666;
}


/*ARGUMENTS*/

.mediaFilter {
    width: 100%;
    padding: 5px;
    text-align: left;
    background-color: #404040;
}

#mediaFilterInput {
    width: 50%;
    padding: 5px;
    text-align: left;
    background-color: #111;
    color: white;
    border: 0px;
}

.mediaArguments {}

.mediaArguments>* {}

.mediaArguments .label,
.mediaListStatic .label {
    display: inline-block;
    width: 10%;
    padding-left: 2%;
}

.mediaArguments .list {
    display: inline-block;
    width: 75%;
}

.mediaArguments .mediaColorPicker {
    width: 50%;
    outline: none;
}

#mediaOverlay .controls,
#dispoOverlay .controls,
#sceneOverlay .controls {
    margin: 0.3% 0.6%;
    text-align: right;
    z-index: 10000;
}

#textOverlay .overlayContent {}

#textOverlay textarea {
    font-size: 17px;
    width: 50%;
    float: left;
    margin: 5% 10% 10% 15%;
}

#textOverlay .controls {
    margin: 15% 10% 10% 15%;
}

/* PROGRESS BAR */

.progressDiv {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: none;
}

.progressDiv:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.progressBar {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 50%;
    height: 5px;
    background-color: #303030;
    margin: 0 auto;
    background-color: red;
    top:-6px;
}


/* UI */

.circle {
    width: 10px;
    height: 10px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.connectionState {
    font-weight: lighter;
    font-style: italic;
    font-size: 12px;
    margin-top: 10px;
}

.connected .fa-circle-o-notch {
    display: none;
}

.disconnected .fa-circle-o {
    display: none;
}

.connected {
    color: #00ab3f
}

.disconnected {
    color: #f0624d;
}

.stopAll,
.stopDispo {
    color: #f0624d;
}

.btnOn {
    opacity: 1;
    transition: 0.1s;
}

.btnOff {
    opacity: 0.4;
    transition: 0.1s;
}

.btnSmall {
    font-size: 25px !important;
}

.btnMedium {
    font-size: 30px !important;
}

.btnBig {
    font-size: 3.6em !important;
}

.btn {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.btn:hover {
    /* opacity: 0.8;
    transition: 0.1s; */
}

.btn:active {
    opacity: 0.4;
    transition: 0.1s;
}

textarea {
    outline: none;
}

.stateOn {
    opacity: 1;
}

.stateOff {
    opacity: 0.4;
}

.listItem:active {
    background-color: #454545;
}

.listItem:hover {
    background-color: #454545;
}

.selected {
    background-color: #505050;
}

.selected:hover {
    background-color: #505050 !important;
}

.box:hover {
    background-color: #404040;
    transition: 0.1s;
}

.box:active {
    background-color: #808080;
    transition: 0.1s;
}

.justPlayed {
    background-color: #404040 !important;
    transition: 0.1s;
}


/*CUSTOM RADIO*/

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #505050;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ffffff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
